/** 
*
*
* SECTION 3
*
*
*/

#section3
{
    background: #FFFFFF;
}

.lessons
{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    height: 70%;
    top: 16%;
    left: 7%;
}

.lesson1,
.lesson2,
.lesson3,
.lesson4
{
    margin-left: 2%;
    margin-top: 2%;
    width: 45%;
    height: 40%;
}

.lesson1 img,
.lesson2 img,
.lesson3 img,
.lesson4 img
{
    max-width: 100%;
    height: auto;
}


.lesson1 .hover-content,
.lesson2 .hover-content,
.lesson3 .hover-content,
.lesson4 .hover-content
{
    position: absolute;
    width: 40%;
    height: 25%;
    visibility: hidden;
}

.lesson1:hover .hover-content button,
.lesson2:hover .hover-content button,
.lesson3:hover .hover-content button,
.lesson4:hover .hover-content button
{
    visibility: visible;
    animation: button 1s normal forwards;
}

.lesson1:hover .hover-content hr,
.lesson2:hover .hover-content hr,
.lesson3:hover .hover-content hr,
.lesson4:hover .hover-content hr
{
    visibility: visible;
    animation: hr 1s normal forwards;
}

.lesson1:hover .hover-content .body-hover,
.lesson2:hover .hover-content .body-hover,
.lesson3:hover .hover-content .body-hover,
.lesson4:hover .hover-content .body-hover
{
    visibility: visible;
    animation: body 1s normal forwards;
}

.lesson1:hover .hover-content .title-hover,
.lesson2:hover .hover-content .title-hover,
.lesson3:hover .hover-content .title-hover,
.lesson4:hover .hover-content .title-hover
{
    visibility: visible;
    animation: title 1s normal forwards;
}

.lesson1:hover .title,
.lesson2:hover .title,
.lesson3:hover .title,
.lesson4:hover .title
{
    visibility: hidden;
}

.lesson1 .hover-content hr,
.lesson2 .hover-content hr,
.lesson3 .hover-content hr,
.lesson4 .hover-content hr
{
    background: white;
    margin-top: 5%;
    margin-left: 45%;
    width: 100px;
}

.lesson1 .hover-content .body-hover,
.lesson2 .hover-content .body-hover,
.lesson3 .hover-content .body-hover,
.lesson4 .hover-content .body-hover
{
    color: white;
    width: 300px;
    margin-left: 30%;
    margin-top: 1%;
    font-family: 'Quicksand', sans-serif;
}

.lesson1 .hover-content button,
.lesson2 .hover-content button,
.lesson3 .hover-content button,
.lesson4 .hover-content button
{
    margin-left: 45%;
    margin-top: 2%;
    width: 100px;
    height: 40px;
    background: radial-gradient(#5227C7, #6B44BF);
    border-radius: 34px;
    font-family: 'Futura', sans-serif;
    color: white;
    cursor: pointer;
}

/** 
* Lesson 1
*/

.lesson1 .title
{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Futura', sans-serif;
    padding-left: 18%;
    padding-top: 10%;
    font-size: 2em;
}

.lesson1 .hover-content .title-hover
{
    color: #FFFFFF;
    font-family: 'Futura', sans-serif;
    margin-left: 39%;
    padding-top: 8%;
    font-size: 2.3em;
}

/** 
* Lesson 2
*/

.lesson2 .title
{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Futura', sans-serif;
    padding-left: 20%;
    padding-top: 10%;
    font-size: 2em;
}

.lesson2 .hover-content .title-hover
{
    color: #FFFFFF;
    font-family: 'Futura', sans-serif;
    margin-left: 42%;
    padding-top: 8%;
    font-size: 2.3em;
}

/** 
* Lesson 3
*/

.lesson3 .title
{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Futura', sans-serif;
    margin-left: 15%;
    padding-top: 10%;
    font-size: 2em;
}

.lesson3 .hover-content .title-hover
{
    color: #FFFFFF;
    font-family: 'Futura', sans-serif;
    margin-left: 28%;
    padding-top: 8%;
    font-size: 2.3em;
}
/** 
* Lesson 4
*/


.lesson4 .title
{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Futura', sans-serif;
    margin-left: 17%;
    padding-top: 10%;
    font-size: 2em;
}

.lesson4 .hover-content .title-hover
{
    color: #FFFFFF;
    font-family: 'Futura', sans-serif;
    margin-left: 33%;
    padding-top: 8%;
    font-size: 2.3em;
}

/** 
* Animation
*/


@keyframes button
{
    0%{transform: translateY(0px);}
    100%{transform: translateY(12px);}
}

@keyframes hr
{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-12px);}
}
@keyframes body
{
    0%{transform: translateY(0px);}
    100%{transform: translateY(10px);}
}
@keyframes title
{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-12px);}
}



/** 
* logo
*/


#section3 .logo
{
    position: absolute;
    width: 150px;
    height: 80px;
    top: 2%;
    left: 1%;
    border-right: solid #6B44BF 3px;
}

#section3 .logo .logo-HW
{
    max-width: 90%;
    height: auto;
    
}

/** 
* Time / Date
*/

#section3 .time
{
    position: absolute;
    width: 100px;
    height: 25px;
    top: 2%;
    left: 12%;
    color: black;
    font-family: 'Quicksand', sans-serif;
    border: white 1px solid;
}

#section3 .date
{
    position: absolute;
    width: 250px;
    height: 28px;
    top: 7%;
    left: 12%;
    font-family: 'Quicksand', sans-serif;
    /* border: white 1px solid; */
}

#section3 .date
{
    color: black;

}

/** 
* ITEM SCROLL
*/

.item-scroll-purple
{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 90%;
    left: 48%;
}
  
.mouse-purple
{
    width: 24px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #6B44BF;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 20px);
    z-index: 3;
}
  
.mouse-purple:before, .mouse-purple:after 
{
    content: "";
    display: block;
    position: absolute;

}
  
.dot-purple:before 
{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 40%;
    background: #6B44BF;
    animation: dot-animation 1.2s infinite;
}

  
@keyframes dot-animation 
{
    0%, 65%, 100% 
    {
        opacity: 0;
    }
    10%, 40% 
    {
        opacity: 1;
    }
    0% 
    {
        transform: translateY(1px) scale(0.7);
    }
    5% 
    {
        transform: scale(0.7);
    }
    15%, 100% 
    {
        transform: scale(1);
    }
    45%, 65% 
    {
        transform: translateY(24px) scale(0.7);
    }
}
/**
 * 
 * 
 *  RESPONSIVE
 * 
 *
**/

@media (min-width: 768px) and (max-width: 1024px)
{
    .lessons
    {
        width: 800px; 
        height: 1000px;
        top: 13%;
        left: 8.5%;
        /* border: 1px solid black; */
    }

    .lesson1,
    .lesson2,
    .lesson3,
    .lesson4
    {
        margin-left: 20%;
        margin-top: 1%;
        width: 500px;
        height: 230px;
        /* border: 1px solid black; */
    }

    .lesson1 img,
    .lesson2 img,
    .lesson3 img,
    .lesson4 img
    {
        max-width: 100%;
        height: auto;
    }
}