/** 
* Time / Date
*/

#section2 .time
{
    position: absolute;
    width: 100px;
    height: 25px;
    top: 2%;
    left: 12%;
    color: #272727;
    font-family: 'Quicksand', sans-serif;
    /* border: white 1px solid; */
    z-index: 999;
}

#section2 .date
{
    position: absolute;
    width: 250px;
    height: 28px;
    top: 80%;
    left: 12%;
    font-family: 'Quicksand', sans-serif;
    color: #272727;
    /* border: white 1px solid; */
    z-index: 999;
}

/** 
* logo
*/

#section2 .logoBlack
{
    position: absolute;
    width: 150px;
    height: 80px;
    top: 2%;
    left: 1%;
    border-right: solid #6B44BF 3px;
    z-index: 3;
}

#section2 .logoBlack .logo-HW-black
{
    position: absolute;
    max-width: 90%;
    height: auto;
    
}

/*
* Parallax
*/
.container-parallax-info
{
    width: 100%;
    height: 100%;
}
.bg
{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 2%;
    z-index: 2;

}
.lazy
{
    opacity: 0;
    transition: opacity 1s;
    will-change: opacity;
}

.lazy.loaded
{
    opacity: 1;
}

.parallax-scroll
{
    will-change: transform;
}

.container-parallax-info
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
}

.container-parallax-info .image 
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

}

.container-parallax-info .image .inner
{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

#planet3
{
    position: absolute;
    z-index: 3;
}
/*
* Text
*/
#section2 .information
{
    position: absolute;
    width: 40%;
    height: 30%;
    top: 40%;
    left: 5%;
    z-index: 999;
}

#section2 .information-title
{
    font-family: 'futura', sans-serif;
    font-size: 30px;
    color: #6B44BF;
    padding-bottom: 30px;
}

#section2 .information-text1
{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #272727;
    padding-bottom: 15px;
}

#section2 .information-text2
{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #272727;
    padding-bottom: 30px;
}
/*
* Button
*/

.information-button
{
    width: 6.25rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    background: radial-gradient(#5227C7, #6B44BF );
    color: white;
    font-family: 'futura', sans-serif;
    font-size: 20px;
    z-index: 4;
}


/** 
* ITEM SCROLL
*/

.item-scroll-purple
{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 90%;
    left: 48%;
}
  
.mouse-purple
{
    width: 24px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #6B44BF;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 20px);
    z-index: 3;
}
  
.mouse-purple:before, .mouse-purple:after 
{
    content: "";
    display: block;
    position: absolute;

}
  
.dot-purple:before 
{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 40%;
    background: #6B44BF;
    animation: dot-animation 1.2s infinite;
}

  
@keyframes dot-animation 
{
    0%, 65%, 100% 
    {
        opacity: 0;
    }
    10%, 40% 
    {
        opacity: 1;
    }
    0% 
    {
        transform: translateY(1px) scale(0.7);
    }
    5% 
    {
        transform: scale(0.7);
    }
    15%, 100% 
    {
        transform: scale(1);
    }
    45%, 65% 
    {
        transform: translateY(24px) scale(0.7);
    }
}
/**
 * 
 * 
 *  RESPONSIVE
 * 
 *
**/

/**
 *  SECTION 1
**/

@media (min-width: 768px) and (max-width: 1024px) 
{
    #section2 .container-information
    {
        width: 100%;
        height: 100%;
        background: white;
    }
    #section2 .container-parallax-info
    {
        width: 150%;
        height: auto;
        left: -50%
    }
    #section2 .information-title
    {
        position: absolute;
        font-size: 40px;
        top: 50%;
        width:  100%;
        height: 100%;
    }

    #section2 .information-text1
    {
        position: absolute;
        top: 70%;
        width:  100%;
        height: 100%;
        font-size: 30px;
    }

    #section2 .information-text2
    {
        position: absolute;
        top: 105%;
        width:  100%;
        height: 100%;
        font-size: 30px;
    }

    #section2 .information-button
    {
        position: absolute;
        top: 140%;
        width: 150px;
        height: 70px;
        font-size: 25px;
        border-radius: 40px;
        
    }

    #section2 .time
    {
        left: 20%;
    }

    #section2 .date
    {
        top: 6%;
        left: 20%;
    }    
    
    #section2 .title
    {
        left: 20%;
        top: 30%;
    }
    
    #section2 .information
    {
        position: absolute;
        width: 600px;
        height: 450px;
        top: 34%;
        left: 20%;
        font-family: 'Quicksand', sans-serif;
    }

}