body, html
{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}




/** 
* ITEM SCROLL
*/

.item-scroll
{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 90%;
    left: 48%;
}
  
.mouse 
{
    width: 24px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 20px);
}
  
.mouse:before, .mouse:after 
{
    content: "";
    display: block;
    position: absolute;
}
  
.dot:before 
{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 40%;
    background: #FFFFFF;
    animation: dot-animation 1.2s infinite;
}

  
@keyframes dot-animation 
{
    0%, 65%, 100% 
    {
        opacity: 0;
    }
    10%, 40% 
    {
        opacity: 1;
    }
    0% 
    {
        transform: translateY(1px) scale(0.7);
    }
    5% 
    {
        transform: scale(0.7);
    }
    15%, 100% 
    {
        transform: scale(1);
    }
    45%, 65% 
    {
        transform: translateY(24px) scale(0.7);
    }
}

/**
 * 
 * 
 *  PARALLAX SECTION
 * 
 *
**/

.lazy
{
    opacity: 0;
    transition: opacity 1s;
    will-change: opacity;
}

.lazy.loaded
{
    opacity: 1;
}

.parallax-scroll
{
    will-change: transform;
}

.container-parallax
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #183252;
    overflow: hidden;
}

.container-parallax .image 
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.container-parallax .image .inner
{
    position: absolute;
    top: -12%;
    left: -12%;
    bottom: -12%;
    right: -12%;
    background-position: center center;
    background-size: cover;
    transition: transform 1s cubic-bezier(0.13, 0.34, 0.16, 0.93);
}

.content
{
    height: 200vh;
    background: #183252;
}

/*
* Button Start Experience
*/

/* 
#menu
{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 45%;
    left: 43%;
    color: white;
    background: none;
    border: 2px solid white;
    cursor: pointer;
    z-index: 1;
    list-style: none;
	
} */



/* #menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
}

#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
} */
/* .start 
{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 45%;
    left: 43%;
    color: white;
    background: none;
    border: 2px solid white;
    cursor: pointer;
    transition-duration: 0.7s;
}
  
.start:hover 
{
  background-color: white ;
  color:#000000;
} */

/*
* Logo
*/

.logo
{
    position: absolute;
    width: 150px;
    height: 90px;
    top: 30%;
    left: 44.5%;
}

/** 
*
*
* ALL SECTION 
*
*
*/

.section
{
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1492446190781-58ac4285911d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2194&q=80');
    background-color: grey;
}


/** 
*
*
* SECTION 1
*
*
*/

/** 
* logo
*/

#section1 .logo
{
    position: absolute;
    width: 150px;
    height: 80px;
    top: 2%;
    left: 1%;
    border-right: solid #ffffff 3px;
}

#section1 .logo .logo-HW
{
    max-width: 90%;
    height: auto;
    
}

/** 
* Time / Date
*/

#section1 .time
{
    position: absolute;
    width: 100px;
    height: 25px;
    top: 2%;
    left: 12%;
    /* border: white 1px solid; */
}

#section1 .time 
{
    color: white;
}

#section1 .date
{
    position: absolute;
    width: 250px;
    height: 28px;
    top: 7%;
    left: 12%;
    /* border: white 1px solid; */
}

#section1 .date
{
    color: white;

}

/** 
* Circles left
*/


.big-circle-left
{
    position: absolute;
    width: 300px;
    height: 600px;
    left: 15%;
    top: 20%;
    border-radius: 50%;
    border-left: white 2px solid;
    border-top:  1px solid transparent;
    border-bottom:  1px solid transparent;
    border-right:  1px solid transparent;
}

.big-circle-left .dot-info-left
{
    position: absolute;
    top: 80%;
    left: 7.5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    animation: flashes 1s infinite;
}


.big-circle-left .dot-info-left:hover
{
    animation: stop 1s infinite;
}

.big-circle-left .dot-info-left:hover .info-left
{
    visibility: visible;
}

.big-circle-left .dot-info-left:hover .info-left-text
{
    visibility: visible;
}

.dot-info-left:hover .info-left-line
{
    visibility: visible;
}

.big-circle-left .dot-info-left .info-left
{
    position: absolute;
    width: 100px;
    height: 30px;
    background: white;
    top: 188%;
    left: -625%;
    visibility: hidden;
}

.big-circle-left .info-left .info-left-text
{
    position: absolute;
    left: 10%;
    top: -28%;
    visibility: hidden;
}

.big-circle-left .info-left-line
{
    position: absolute;
    width: 60px;
    height: 2px;
    background: white;
    top: 125%;
    left: -250%;
    transform: rotate(-28deg);
    visibility: hidden;
}

.little-circle-left
{
    position: absolute;
    width: 200px;
    height: 400px;
    left: 6%;
    top: 18%;
    border-radius: 50%;
    border-left: white 2px solid;
    border-top:  1px solid transparent;
    border-bottom:  1px solid transparent;
    border-right:  1px solid transparent;
}

.little-circle-left .middle-left
{
    position: absolute;
    width: 20px;
    height: 2px;
    left: -10%;
    top: 50%;
    background: white;
    border: none;
}

.little-circle-left .top-left
{
    position: absolute;
    width: 28px;
    height: 2px;
    left: 28%;
    top: -20%;
    background: white;
    border: none;
}

.little-circle-left .down-left
{
    position: absolute;
    width: 28px;
    height: 2px;
    left: 28%;
    top: 111%;
    background: white;
    border: none;
}

/** 
* Circles right
*/

.big-circle-right
{
    position: absolute;
    width: 300px;
    height: 600px;
    left: 66%;
    top: 20%;
    border-radius: 50%;
    border-left: white 2px solid;
    border-top:  1px solid transparent;
    border-bottom:  1px solid transparent;
    border-right:  1px solid transparent;
    transform: rotate(180deg);
}

.big-circle-right .dot-info-right
{
    position: absolute;
    top: 80%;
    left: 7.5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    animation: flashes 1s infinite;
}

.big-circle-right .dot-info-right:hover
{
    animation: stop 1s infinite;
}

.big-circle-right .dot-info-right:hover .info-right
{
    visibility: visible;
}

.big-circle-right .dot-info-right:hover .info-right-text
{
    visibility: visible;
}

.dot-info-right:hover .info-right-line
{
    visibility: visible;
}



.big-circle-right .dot-info-right .info-right
{
    position: absolute;
    width: 180px;
    height: 30px;
    background: white;
    top: 188%;
    left: -925%;
    visibility: hidden;
}

.big-circle-right .info-right .info-right-text
{
    position: absolute;
    left: 10%;
    top: -28%;
    transform: rotate(180deg);
    visibility: hidden;
}

.big-circle-right .info-right-line
{
    position: absolute;
    width: 60px;
    height: 2px;
    background: white;
    top: 125%;
    left: -250%;
    transform: rotate(-28deg);
    visibility: hidden;
}

.little-circle-right
{
    position: absolute;
    width: 200px;
    height: 400px;
    left: 6%;
    top: 18%;
    border-radius: 50%;
    border-left: white 2px solid;
    border-top:  1px solid transparent;
    border-bottom:  1px solid transparent;
    border-right:  1px solid transparent;
}

.little-circle-right .middle-right
{
    position: absolute;
    width: 20px;
    height: 2px;
    left: -10%;
    top: 50%;
    background: white;
    border: none;
}

.little-circle-right .top-right
{
    position: absolute;
    width: 28px;
    height: 2px;
    left: 28%;
    top: -20%;
    background: white;
    border: none;
}

.little-circle-right .down-right
{
    position: absolute;
    width: 28px;
    height: 2px;
    left: 28%;
    top: 111%;
    background: white;
    border: none;
}

@keyframes flashes
{
    0%{background: white}
    50%{background: grey}
    100%{background: white}
}

@keyframes stop
{
    0%{background: white}
    100%{background: white}
}

/** 
* Presentation
*/


#section1 .presentation
{
    position: absolute;
    width: 600px;
    height: 450px;
    top: 30%;
    left: 32%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background: black;
    line-height: 2.5em;
}

#section1 .title
{
    position: absolute;
    width: 180px;
    height: 40px;
    top: 24%;
    left: 32%;
    background: #FFFFFF;
    font-size: 0.7em;
}

#section1 .title h1
{
    position: absolute;
    top: -30%;
    left: 2%;
}

#section1 .title hr
{
    position: absolute;
    top: 80%;
    background-color: #FFFFFF;
    width: 600px;
    height: 3px;
    border: 1px white solid;
}


#section1 .presentation .subtitle
{
    padding-top: 2%;
    padding-left: 5%;
    color: #FFFFFF;
    font-size: 1.2em;
}

#section1 .presentation .body
{
    padding: 5%;
    color: #FFFFFF;
    font-size: 1.0em;
}


  